* {
    box-sizing: border-box;

}
body {
    background-color:#83807f;
}

.heading{
    color: #271f1f;
    text-align: center;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#271f1f;
    font-size: 20px;
}

li{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
}

footer {
    color: black;
    margin-top: 45px;
}