* {
    box-sizing: border-box;

}
body {
    background-color: rgb(59, 59, 56);
}

h1 {
    color: #fffafa;
    text-align: center;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FFFF00;
}

footer {
    color: black;
}
